  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Web Chat</title>

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
      <!-- <link rel="stylesheet" href="https://code.jquery.com/jquery-3.3.1.slim.min.js"> -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <!-- <link rel="stylesheet" href="./style.css"> -->

    <style>
      
        /*
        *
        * ==========================================
        * FOR DEMO PURPOSES
        * ==========================================
        *
        */
        body {
            background-color: #74EBD5;
            background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);

            min-height: 100vh;
        }

        ::-webkit-scrollbar {
            width: 5px;
        }

        ::-webkit-scrollbar-track {
            width: 5px;
            background: #f5f5f5;
        }

        ::-webkit-scrollbar-thumb {
            width: 1em;
            background-color: #ddd;
            outline: 1px solid slategrey;
            border-radius: 1rem;
        }

        .text-small {
            font-size: 0.9rem;
        }

        .messages-box,
        .chat-box {
            height: 510px;
            overflow-y: scroll;
        }

        .rounded-lg {
            border-radius: 0.5rem;
        }

        input::placeholder {
            font-size: 0.9rem;
            color: #999;
        }

    </style>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <!-- <script src="/views/chat.js" type="text/javascript"></script> -->
</head>
<body>
    <div class="container py-5 px-4">
        <header class="text-center">

            <h1 class="display-4 text-white">Web Chat</h1>
            <p class="text-white lead mb-0">Web Chat using aiohttp</p>
        </header>

        <div class="row rounded-lg overflow-hidden shadow">
            <!-- Users box-->
            <div class="col-5 px-0">
                <div class="bg-white">

                    <div class="bg-gray px-4 py-2 bg-light">
                        <p class="h5 mb-0 py-1">Recent</p>
                    </div>

                    <div class="messages-box">
                        <div class="list-group rounded-0">
                            <a class="list-group-item list-group-item-action active text-white rounded-0">
                                <div class="media"><img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50" class="rounded-circle">
                                    <div class="media-body ml-4">
                                        <div class="d-flex align-items-center justify-content-between mb-1">
                                            <h6 class="mb-0">Channel 1</h6><small class="small font-weight-bold">29 Dec</small>
                                        </div>
                                        <p class="font-italic mb-0 text-small">chatroom</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Chat Box-->
            <div class="col-7 px-0">
                <div class="px-4 py-5 chat-box bg-white" id="chatbox">
                    
                    <!-- Sender Message-->
                    <!-- <div class="media w-50 mb-3"><img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50" class="rounded-circle">
                        <div class="media-body ml-3">
                            <div class="bg-light rounded py-2 px-3 mb-2">
                                <p class="mb-2">Mirali</p>
                                <p class="text-small mb-0 text-muted">Test which is a new approach all solutions</p>
                            </div>

                            <p class="small text-muted">12:00 PM | Aug 13</p>
                        </div>
                    </div> -->

                    <!-- Reciever Message-->
                    <!-- <div class="media w-50 ml-auto mb-3"><img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50" class="rounded-circle">
                        <div class="media-body">
                            <div class="bg-primary rounded py-2 px-3 mb-2">
                                <p class="text-small mb-0 text-white">Test which is a new approach to have all solutions</p>
                            </div>

                            <p class="small text-muted">12:00 PM | Aug 13</p>
                        </div>
                    </div> -->

                </div>

                <!-- Typing area -->
                <form action="#" class="bg-light">
                    <div class="input-group">
                    <input type="text" placeholder="Say hi to the chat!!!" aria-describedby="button-addon2" class="form-control rounded-0 border-0 py-4 bg-light" id="chat-content">
                    <div class="input-group-append">
                        <button id="button-addon2" type="submit" class="btn btn-link"> <i class="fa fa-paper-plane"></i></button>
                    </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</body>

<script>
  
    let userid = ''
    $.get('/username', data => {
        console.log(data) 
        userid = data['username'];
        document.getElementById('chat-content').placeholder = `Username: ${userid}`;
    })

    function generateChatboxChild(element) {
        let chatboxChild = document.createElement('div');

        chatboxChild.classList.add('media');
        chatboxChild.classList.add('w-50');
        if (userid === element.username) {
            chatboxChild.classList.add('ml-auto');
        }
        chatboxChild.classList.add('mb-3');
        let img = document.createElement('img');
        img.src = "https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg";
        img.alt = "user";
        img.width = "50";
        img.classList.add("rounded-circle");
        chatboxChild.appendChild(img);
        // chatboxChild.appendChild('<img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50" class="rounded-circle">')

        let mediaBody = document.createElement('div');
        mediaBody.classList.add('media-body');

        let messageBox = document.createElement('div');
        if (userid === element.username) {
            messageBox.classList.add('bg-primary');
        }else messageBox.classList.add('bg-light');
        messageBox.classList.add('rounded');
        messageBox.classList.add('py-2');
        messageBox.classList.add('px-3');
        messageBox.classList.add('mb-2');

        let username = document.createElement('p');
        username.classList.add('mb-2');
        username.classList.add('username');
        username.appendChild(document.createTextNode(element.username));
        
        let content = document.createElement('p');
        content.classList.add('mb-0');
        content.classList.add('text-small');
        if (userid !== element.username) {
            content.classList.add('text-white');
        }else content.classList.add('text-muted');
        content.appendChild(document.createTextNode(element.content));
        
        let time = document.createElement('p');
        time.classList.add('time');
        time.classList.add('small');
        time.classList.add('text-muted');
        time.appendChild(document.createTextNode(element.timestamp));
        
        if (element.content === '') {
            chatboxChild.classList.add('enter');
            messageBox.classList.add('enter');
            mediaBody.classList.add('enter');
            content.classList.add('enter');
            username.classList.add('center');
            time.classList.add('center');
        }

        messageBox.appendChild(username);
        messageBox.appendChild(content);

        mediaBody.appendChild(messageBox);
        mediaBody.appendChild(time);

        chatboxChild.appendChild(mediaBody);

        return chatboxChild;
    }

    function tweakHistoryElement(e) {
        const date = new Date(e.timestamp * 1000);
        e.timestamp = `${date.getHours() < 10 ? 0 : ''}${date.getHours()}:${date.getMinutes() < 10 ? 0 : ''}${date.getMinutes()}`

        return e;
    }


    let sock = new WebSocket('ws://' + window.location.host + '/ws');
    let history = [];

    sock.onopen = () => {
        sock.send(JSON.stringify({ 'type': 'history' }))
    }

    sock.onmessage = event => {
        const data = JSON.parse(event.data);
        console.log(data)

        if (data['type'] === 'history') {
            console.log(data['history'])
            history = data['history'].map(tweakHistoryElement);

            let chatbox = document.getElementById('chatbox')

            history.forEach(e => {
                chatbox.appendChild(generateChatboxChild(e))
            })

            chatbox.scrollTop = chatbox.scrollHeight;
        } else if (data['type'] === 'notification' || data['type'] === 'msg') {
            const tweakedData = tweakHistoryElement(data)
            
            history.push(tweakedData);
            
            let chatbox = document.getElementById('chatbox');
            chatbox.appendChild(generateChatboxChild(tweakedData));
            chatbox.scrollTop = chatbox.scrollHeight;
        }
    }

    sock.onclose = event => {
        console.log('closed now');
        sock.send(JSON.stringify({'type': 'close'}))
    }


    function sendPost() {
        if (sock.readyState !== 1) return;

        const content = $('input:text').val()
        if (content === '') return;

        sock.send(JSON.stringify({'type': 'msg', content}));

        $('input:text').val('');
    }

    window.onbeforeunload = () => {
        sock.send(JSON.stringify({'type': 'close'}));

    }

    document.getElementById('button-addon2').addEventListener('click', sendPost);
    document.getElementById('chat-content').addEventListener('keypress', event => {
        if (event.keyCode === 13) {
            event.preventDefault();

            sendPost();
        }
    })

</script>
</html>